@font-face {
  font-family: 'PierceJameson'; /*a name to be used later*/
  src: url('../fonts/Pierce-Jameson-Serif-Bold.otf'); /*URL to font*/
}


@font-face {
  font-family: 'BarleyScriptTextured'; /*a name to be used later*/
  src: url('../fonts/BarleyScript-Textured.otf'); /*URL to font*/
}

@font-face {
  font-family: 'HeinbergTextured'; /*a name to be used later*/
  src: url('../fonts/Heinberg-Textured.otf'); /*URL to font*/
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');


:root{
  --black: #1E1E1E;
  --white:   #fff;
  --gray: #aaa;
  --wood-1: #602112;
  --wood-2: #491C0C;
  --meat-1: #5F1812;
  --meat-2: #AF1F24;
  --sunset-1: #3B2532;
  --sunset-2: #FDA016;
  --sunset-3: #EF5B0D;
}

* {
  font-family: 'PierceJameson';
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

button, input {
  border: 1px solid var(--sunset-1) !important;
}

.btn-primary {
  background-color: var(--sunset-2) !important;
  border-color: var(--sunset-2) !important;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--black);
}

html::-webkit-scrollbar-thumb {
  background:  var(--sunset-2);
  border-radius: 5rem;
}

section {
  padding: 9rem 9% !important;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading .title-menu {
  text-align: center;
  font-family: 'BarleyScriptTextured';
  font-size: 12rem;
  line-height: 50px;
  color:  var(--sunset-3);
}

.heading .sub-menu {
  text-align: center;
  font-family: 'HeinbergTextured';
  font-size: 6rem;
  color:  var(--wood-2);
}

p {
  font-family: 'poppins'; 
  font-style: normal;
}

label {
  font-size: 12px !important;
  margin-top: .5rem !important;
}

.name, .tel, .dir {
  font-size: 14px !important;
}

.table td, .table th{
  font-size: 12px !important;
}

.btn {
  display: inline-block !important;
  margin-top: 1rem !important;
  cursor: pointer !important;
  font-size: 1rem;
  border-radius: 1rem !important;
  padding: 1rem 3rem !important;
}

.btn-contact {
  display: inline-block !important;
  margin-top: 1rem !important;
  cursor: pointer !important;
  color:  var(--wood-2) !important;
  border: 0.2rem solid rgba(73, 28, 18) !important;
  background: no-repeat !important;
  font-size: 1.7rem !important;
  border-radius: 1rem !important;
  padding: 1rem 3rem !important;
}

.btn:hover {
  color: var(--white);
  background:  var(--wood-2);
}

.header {
  z-index: 1000;
  padding: 3rem 1rem;
}

.header.active {
  background: var(--white);
  padding: 2rem 0;
}

.header.active .logo {
  color: var(--wood-2);
}

.header.active .nav a {
  color: var(--wood-2);
}

.header.active #menu-btn {
  color: var(--wood-2);
}

.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.shop {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--palet-3);
}

.shop:hover {
  color: var(--black);
}

.logo-desing {
  width: 8%;
  height: auto;
}

.header .logo span {
  color: var(--meat-2);
}

.header .nav a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #fff;
}

.header .nav a:hover {
  color: var(--meat-2);
}

.header #menu-btn {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--white);
}


.home {
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.home .content {
  max-width: 70rem;
  text-align: center;
  margin: 0 auto;
}

.home .content img {
  width: 100%;
  margin-top: 20rem;
  margin-bottom: 15rem;
}

.home .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color:  var(--white);
}

.home .content p {
  font-size: 5rem;
  line-height: 2;
  color: var(--white);
  padding: 2rem 0;
  font-family: 'BarleyScriptTextured' !important;
}

.service {
  background: url(../images/resource-tights.png), var(--meat-2);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 5rem;
}

.btn-llanerito {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  color:  var(--white);
  border: 0.2rem solid rgba(255, 255, 255);
  background: no-repeat;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 3rem;
}

.btn-llanerito:hover {
  color: var(--white);
  background:  var(--wood-2);
}

.service-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.service-box .box {
  text-align: center;
  padding: 2rem;
}

.service-box .box i {
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  font-size: 2.5rem;
  color: var(--black);
  background:  var(--white);
  margin-bottom: 1rem;
  border-radius: 50%;
}

.service-box .box .title-services {
  padding: 1rem 0;
  font-size: 5rem;
  color:  var(--white);
  font-family: 'HeinbergTextured';
}

.own-script-service {
  text-align: center;
  font-family: 'BarleyScriptTextured';
  font-size: 12rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  color:  var(--sunset-2);
}

.service-box .box .sub-services {
  padding: 1rem 0;
  margin-top: -8rem;
  font-size: 11rem;
  color:  var(--sunset-2);
  font-family: 'BarleyScriptTextured';
}

.service-box .box p {
  font-size: 2rem;
  line-height: 2;
  color: var(--white);
}

/*========== MENU ==========*/
/*========== MENU ==========*/

.menu {
  padding: 2rem 9% !important;
}
.menu__container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.buttons a {
  margin-left: 1rem;
  margin-right: 1rem;
}

.menu__content{
  /* position: relative; */
  display: flex;
  opacity: 1 !important;
  flex-direction: column;
  background-color: rgb(73 28 12 / 100%);
  border-radius: 2rem;
  -webkit-box-shadow: 0px 16px 34px -3px rgba(48,48,48,0.58);
  -moz-box-shadow: 0px 16px 34px -3px rgba(48,48,48,0.58);
  box-shadow: 0px 16px 34px -3px rgba(48,48,48,0.58);
  /* padding: .75rem; */
}

.menu__img{
  width: 100% !important;
  height: 220px !important;
  object-fit: contain;
  align-self: center;
  margin-bottom: 1rem;
}

.details {
  justify-content: center;
  margin: 1rem;
}

.menu__name {
  font-size: 3.2rem !important;
  text-transform: uppercase !important;
  color:  var(--white) !important;
  margin-top: 1rem !important;
}

.text-price {
  background-color: var(--palet-3);
  color: var(--black) !important;
  font-weight: bolder;
  border-radius: 2rem;
}

.menu__preci {
  font-size: 2rem !important;
  color:  var(--white) !important;
  margin-top: 1rem !important;
}

.menu__detail {
  font-size: 1.5rem !important;
  color:  var(--white) !important;
  margin: 1rem !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.menu__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}


.filter {
  text-align:center;
  padding-bottom: 2rem;
}

#customers-testimonials .item, 
#customers-testimonials-alm .item, 
#customers-testimonials-beb .item,
#customers-testimonials-pll .item, 
#customers-testimonials-pai .item,
#customers-testimonials-chi .item {
  text-align: center;
  padding: 1.5rem;
  padding-top: 2rem;
  margin-bottom:80px;
  opacity: 1;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item,
#customers-testimonials-alm .owl-item.active.center .item,
#customers-testimonials-beb .owl-item.active.center .item,
#customers-testimonials-pll .owl-item.active.center .item,
#customers-testimonials-pai .owl-item.active.center .item,
#customers-testimonials-chi .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 220px;
  margin: 1rem auto 1rem;
}
.owl-carousel .nav-button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  top: 18rem !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}
.owl-carousel .owl-prev {
  left: -20px;
  
}
.owl-carousel .owl-next {
  right: -20px;
}
.owl-theme .owl-nav [class*=owl-] {
  color: var(--white);
  background-color: rgba(80,70,70,49%);
  font-size: 30px;
  border-radius: 3px;
}
.owl-carousel .prev-carousel:hover {
  background-position: 0px -53px;
}
.owl-carousel .next-carousel:hover {
  background-position: -24px -53px;
}

.about {
  background-image: url(../images/resource-guitar.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 42vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.own-script {
  font-family: 'BarleyScriptTextured';
  font-size: 10rem;
  color:  var(--wood-2);
}

.about .image {
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.about .image img {
  width: 100%;
  border-radius: 2rem;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.about .content .title {
  font-size: 7.5rem;
  text-transform: uppercase;
  color:  var(--sunset-3);
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: bold;
  color: var(--wood-2);
  padding: 2rem 0;
}

.about .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  flex-direction: column;
}

.bottom-right{
  margin-top: 23px;
}

.card__group-1 {
  background-color: var(--wood-2);
}

.about .content .icons h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color:  var(--white);
}

.about .content .icons h3 i {
  padding-right: .5rem;
  color:  var(--sunset-3);
}

.llanerito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.llanerito .image {
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.llanerito .image img {
  width: 100%;
  border-radius: 2rem;
}

.llanerito .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.llanerito .content p {
  font-size: 2.3rem;
  line-height: 2;
  color: var(--wood-2);
  padding: 2rem 0;
}

.llanerito .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  flex-direction: column;
}

.llanerito .content .icons h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color:  var(--white);
}

.llanerito .content .icons h3 i {
  padding-right: .5rem;
  color:  var(--tertiary);
}

.reviews {
  background: url(../images/resource-maracas.png), var(--wood-2);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: center;
}

.heading .reviews-title {
  font-family: 'HeinbergTextured';
  font-size: 6rem;
  color:  var(--sunset-3);
}

.reviews .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.reviews .box-container .box {
  text-align: center;
  padding: 2rem;
}

.reviews .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.reviews .box-container .box h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color:  var(--white);
}

.reviews .box-container .box p {
  font-size: 1.8rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}

.reviews .box-container .box .stars {
  padding-top: .5rem;
}

.reviews .box-container .box .stars i {
  font-size: 1.7rem;
  color:  var(--sunset-2);
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  width: 100%;
}

.contact .row .form .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}

.contact .row .form .icons-container .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 17rem;
          flex: 1 1 17rem;
  text-align: center;
}

.contact .row .form .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  background:  var(--sunset-2);
  color: var(--black);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact .row .form .icons-container .icons h3 {
  padding: 1rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color:  var(--black);
}

.contact .row .form .icons-container .icons p {
  font-size: 1.8rem;
  line-height: 2;
  color: var(--black);
}

.heading .blog-title {
  text-align: center;
  font-family: 'BebasNeueProBold';
  font-size: 6rem;
  color:  var(--black);
}

.thumbnails:hover img {
  opacity: 0.6;
  transform: scale(0.92);
}

.thumbnails:hover img:hover {
  opacity: 1;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 2rem;
}

.blogs .box-container .box {
  position: relative;
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box-container .box:hover .image .icons {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.blogs .box-container .box .image {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.blogs .box-container .box .image .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  background: var(--black);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
}

.blogs .box-container .box .image .icons a {
  font-size: 1.5rem;
  color:  var(--white);
}

.blogs .box-container .box .image .icons a i {
  padding-right: 5rem;
  color:  var(--tertiary);
}

.blogs .box-container .box .image .icons a:hover {
  color:  var(--tertiary);
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .box .content {
  text-align: center;
  padding: 2rem;
}

.blogs .box-container .box .content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color:  var(--white);
}

.blogs .box-container .box .content p {
  font-size: 2rem;
  line-height: 2;
  color: var(--gray);
  padding: 1.5rem 0;
}
/* BLOG */

.footer {
  background: url(../images/footer.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 3rem 9% !important;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a {
  font-size: 1.6rem;
  line-height: 2;
  color: #ccc;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: var(--sunset-2);
}

.footer .box-container .box a:hover {
  color: var(--sunset-2);
}

.footer .box-container .box p {
  font-size: 1.8rem;
  line-height: 2;
  color: #ccc;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  margin: 1rem 0;
}

.footer .credit {
  text-align: center;
  font-size: 2rem;
  
  color: var(--white);
  padding: 0 1rem;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer .credit span {
  color: var(--quinary);
}

a:link { text-decoration: none }
a:hover { text-decoration: none }
a:visited { text-decoration: none }

/* WHATSAPP BUTTON */
@keyframes pulse {
  0% {
     transform: scale(1, 1);
 }
  50% {
     opacity: 0.3;
 }
  100% {
     transform: scale(1.45);
     opacity: 0;
 }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 8;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 0px;
}
@media (max-width: 360px) {
  .nav-bottom {
     width: 320px;
 }
}
.whatsapp-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  z-index: 8;
  transition: 0.3s;
  margin: 10px;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
 /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
}
.circle-anime {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #77bb4a;
  animation: pulse 1.2s 4s ease 4;
}
.popup-whatsapp {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 10px;
  bottom: 85px;
  right: 6px;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #fff;
 /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  animation: slideInRight 0.6s 0s both;
}
.popup-whatsapp > div {
  margin: 5px;
}
@media (max-width: 680px) {
  .popup-whatsapp p {
     font-size: 0.9em;
 }
}
.popup-whatsapp > .content-whatsapp.-top {
  display: flex;
  flex-direction: column;
}
.popup-whatsapp > .content-whatsapp.-top p {
  color: #585858;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1em;
}
.popup-whatsapp > .content-whatsapp.-bottom {
  display: flex;
  flex-direction: row;
}
.closePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 0px 0px 15px 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f76060;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.closePopup:hover {
  background-color: #f71d1d;
  transition: 0.3s;
}
.send-msPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0px 0px 0px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.send-msPopup:hover {
  background-color: #f8f8f8;
  transition: 0.3s;
}
.is-active-whatsapp-popup {
  display: flex;
  animation: slideInRight 0.6s 0s both;
}
input.whats-input[type=text] {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 0px solid #fff;
  border-radius: 20px;
  font-size: 1em;
  background-color: #fff;
  padding: 0px 0px 0px 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  outline: none;
  transition: 0.3s;
}
@media (max-width: 420px) {
  input.whats-input[type=text] {
     width: 225px;
 }
}

input.whats-input::placeholder {
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}
input.whats-input[type=text]:focus {
  background-color: #f8f8f8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transition: 0.3s;
}
.icon-whatsapp-small {
  width: 24px;
  height: 24px;
}
.icon-whatsapp {
  width: 45px;
  height: 45px;
}
.icon-font-color {
  color: #fff;
}
.icon-font-color--black {
  color: #333;
}

/* END WHATSAPP */

@media (max-width: 2500px) {
  /* logo {
    width: 6%;
  } */
  /* .header .logo {
    left: 48.2%;
  } */
}

@media (max-width: 1800px) {
  /* .logo {
    width: 9%;
  } */
}

@media (max-width: 768px) {
  .blogs .box-container .box .image {
    height: 100%;
  }
  .blogs .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 2rem;
  }
  .header {
    padding: 2rem;
  }
  .header.active {
    padding: 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .nav a {
    color: var(--dark);
    margin: 1rem 2rem;
  }
  .service {
    background-size: cover;
    background-position-x: center;
  }
}



@media (max-width: 1200px) {
  section {
    padding: 9rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .about {
    flex-direction: column;
  }
  .llanerito {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .home .content h3 {
    font-size: 2.5rem;
  }
  .about .content .img-group {
    flex-direction: column-reverse;
  }
  .img-group-1 {
    margin-top: 23px;
    flex: 0 0 auto !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  .bottom-right {
    margin-bottom: 23px;
  }
  .about-info {
    flex-direction: column;
    text-align: center;
    align-content: center;
  }
  .llanerito-info {
    text-align: center;
    align-content: center;
  }
  .home .content p {
    font-size: 3rem;
  }
  .logo-desing {
    width: 15%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading .reviews-title {
    font-size: 4rem;
  }
  .service-box .box .title-services {
    font-size: 4rem;
  }
  .service-box .box .sub-services {
    font-size: 9rem;
  }
  .heading .blog-title {
    font-size: 5rem;
  }
  .about .content .title {
    font-size: 3.7rem;
  }
  .home .content p {
    font-size: 2.5rem;
  }
  .logo-desing {
    width: 20%;
  }
}
/*# sourceMappingURL=style.css.map */